<div class="container">
  <form id="song-form">
    <div class="song-form-field">
      <label for="title">Title</label>
      <input class="song-input" type="text" name="title" id="song-form-title">
    </div>
    <div class="song-form-field">
      <label for="author">Author</label>
      <input class="song-input" type="text" name="author" id="song-form-author">
    </div>
    <div class="song-form-field">
      <label for="imageUrl">IMAGE URL</label>
      <input class="song-input" type="text" name="imageUrl" id="song-form-imageUrl">
    </div>
    <input type="submit" value="Submit" id="song-form-submit" />
    <button id="cancel-song-form">Cancel</button>
  </form>
</div>
